<br>
<div class="new">
  <h2>New article</h2>
  <%= form_for @article do |form| %>
  <p><%= form.label :title %></p>
  <%= form.text_field :title, :size => 131 %>
  <br>
  <br>
  <p><%= form.label :content %></p>
  <%= form.text_field :content, :size => 131 %>
  <br>
  <br>
  <%= form.submit %>
  <% end %>
  <br>
  <p><%= link_to "Return", articles_path %></p>
</div>
